html{
    margin: 0px;
    padding: 0px;
}

.boxlogin{
    border-radius: 4px;
    box-shadow: 0px 2px 10px;
    margin: 100px auto;
    width: 320px;
    height: 250px;
    -webki-border-radius: 4px;
    -moz-border-radius: 4px;
}

input[type="submit"]{
    margin-top: 4px;
}


.boxticket{
    border-radius: 4px;
    box-shadow: 0px 2px 10px;
    margin: 55px auto;
    width: 320px;
    height: 520px;
    -webki-border-radius: 4px;
    -moz-border-radius: 4px;
}
